<!--Filename: about.ejs
Author name: Jishnu Sundar
Website Name: portoflioassgn-js.herokuapp.com
Description: View for the about page-->
<!DOCTYPE html>
<html lang="en">
<% include ../views/partials/head %>
  <body>
    <div id="wrapper">
        <div class="overlay"></div>
    
<% include ../views/partials/sidebar %>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
    			<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
            </button>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                         <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="img-circle" src="/Assets/images/Jishnu.png" alt="" />
                <h2 class="name">Jishnu Sundar</h2>
                <h3 class="tagline">Software Engineering Student</h3>
            </div><!--//profile-container-->
            
            <div class="education-container container-block">
                <h2 class="container-block-title">Education</h2>
                <div class="item">
                    <h4 class="degree">Adv Diploma in Software Engineering Technology</h4>
                    <h5 class="meta">Centennial College</h5>
                    <div class="time">2015-2018</div>
                </div><!--//item-->
            </div><!--//education-container-->
            
            <div class="languages-container container-block">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    <li>English <span class="lang-desc">(Professional)</span></li>
                    <li>Malayalam <span class="lang-desc">(Native)</span></li>
                </ul>
            </div><!--//interests-->
            
            <div class="interests-container container-block">
                <h2 class="container-block-title">Interests</h2>
                <ul class="list-unstyled interests-list">
                    <li>Gaming</li>
                    <li>Cooking</li>
                    <li>Adventure Sports</li>
                </ul>
            </div><!--//interests-->
            
        </div><!--//sidebar-wrapper-->
        
        <div class="main-wrapper">
            
            <section class="section summary-section">
                <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
                <div class="summary">
                <p>I am currently pursuing a Software Engineering Technology program at Centennial College (Toronto, Canada), where I am developing my knowledge in Software development. The areas covered are Systems analysis, Microsoft .NET(ASP.NET, C#), Java, Java script, HTML/CSS,Oracle, DB2, Web designing and other Microsoft Office products. My Internship experience in the role as a Technical Systems Analyst in Royal Bank of Canada (RBC) under the Technology maintenance team gave me an advanced exposure to the real world challenges in the IT industry. In addition, my experience in academic lab sessions and projects gave me relevant practical experience and skills in systems analysis, systems design- modeling and documentation, program coding, SDLC, web development and database. I am an organized individual with excellent communication skills. I possess excellent multi-tasking skills enabling me to handle multiple assignments and to prioritize them. Moreover, I am always passionate in learning about unfamiliar subjects. </p>
                </div><!--//summary-->
            </section><!--//section-->
            
            <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Technical Systems Analyst (Co-op)</h3>
                            <div class="time">2016 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">RBC Royal Bank</div>
                    </div><!--//meta-->
                    <div class="details">
<ul>
<li>Migration of outdated/unsupported applications to newest .NET platform, testing and documenting the new version for easier maintenance and support</li>
<li>Creation of utility programs which eliminated the team’s manual efforts in maintaining servers and other applications handled by the team</li>
<li>Modification of codes for existing applications to cope up with changing requirements</li>
<li>Testing various application maintenance changes which could be implemented in production quickly with minimal QA efforts </li>
<li>Working with weekly Server Security Compliance report and taking required remediation for all the impacted servers (Red-hat Linux and MS Windows Server)</li>
<li>Worked on developing a POC application as part of the team’s plan to migrate a web application to IBM Bluemix cloud</li>
<li>Recreating production issues in lab environment which helped to determine the root cause and apply possible fixes</li>
<li>Programmatically creating technical documents (E.g. Excel spreadsheet from XML files or other sources) for the team’s record by using C#</li>
</ul>

                    </div><!--//details-->
                </div><!--//item-->
                
              
                
               
                
            </section><!--//section-->
            
           
            
        </div><!--//main-body-->
    </div>
 
    <footer class="footer">
        <div class="text-center">
                
                <small class="copyright">Copyright © Centennial College 2017</small>
        </div><!--//container-->
    </footer><!--//footer-->
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
 

  </body>
</html>
