<!--Filename: error.ejs
Author name: Jishnu Sundar
Website Name: portoflioassgn-js.herokuapp.com
Description: View for the error page-->
                        <h1><%= message %></h1>
                        <h2><%= error.status %></h2>
                        <pre><%= error.stack %></pre>

